@import "variables.less";

body.page-template-page-kontakt {

    #content {
        margin-top: 0;
    }

    .header-content {
        margin-bottom: 0!important;
    }

    #contact-map {
        padding-top: 0;
    }

    #contact {
        
        padding-top: 0;

        > .row {
            align-items: flex-start;

            > div {
                > .row {
                    align-items: flex-start;
                    margin-bottom: 60px;

                    > div {

                        h4 {
                            padding: 0;
                            margin-bottom: 15px;
                        }
                        &:nth-child(2) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}