@import "variables.less";

body.single-warehouse {

    #content {
        margin-top: 0;
    }

    .header-content {
        margin-bottom: 0!important;
    }

    .warehouse-img {
        margin-bottom: 90px;

        @media @mobile {
            margin-bottom: 30px;
        }
    }
    
    #warehouse-content {
        align-items: flex-start;
        h1 {
            margin-bottom: 30px;
        }

        .address {
            padding: 0 10px;
            margin-bottom: 40px;
        }

        .warehouse-details {
            padding: 0 10px;
            margin-bottom: 50px;
            ul {
                line-height: 1.7em;
                list-style: none;
                padding-left: 0;

                span {
                    color: @primary_color;
                    font-size: 1.2em;
                }
            }
        }
    }

    .download-section {
        margin: 100px 0;

        @media @mobile {
            margin: 50px 0;
        }
    }

    #mapbox {
        h3 {
            font-size: 3.5rem;
            font-weight: 500;
            margin-bottom: 50px;
        }
    }

    #warehouse-gallery {
        flex-wrap: wrap!important;
        align-items: stretch;

        > div {
            padding: 10px;

            a {
                width: 100%;
                height: 100%;
                display: block;

                
                img {
                    border-radius: @border-radius;
                    object-fit: cover;
                    height: 100%;
                }
            }

        }
    }

    //SIDEBAR

    .sidebar {
        .person-details {
            background-color: @light_gray_bg;
            padding: 20px;
            border-radius: @border-radius;
            .imgbox img {
                width: 100%;
                border-radius: @border-radius;
                margin-bottom: 20px;
            }
            .pos {
                color: @primary_color;
                font-size: .7em;
            }
            .data {
                margin: 20px 0 30px;
                a {
                    color: #FFF;
                    font-size: .7em;
                }
            }
        }
    }
}