@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?69742450');
  src: url('../font/fontello.eot?69742450#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?69742450') format('woff2'),
       url('../font/fontello.woff?69742450') format('woff'),
       url('../font/fontello.ttf?69742450') format('truetype'),
       url('../font/fontello.svg?69742450#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?69742450#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-star-half:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-attention-circled:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-basket:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-up-open:before { content: '\e815'; } /* '' */
.icon-thumbs-up:before { content: '\e816'; } /* '' */
.icon-thumbs-down:before { content: '\e817'; } /* '' */
.icon-trash-empty:before { content: '\e818'; } /* '' */
.icon-fb:before { content: '\e819'; } /* '' */
.icon-insta:before { content: '\e81a'; } /* '' */
.icon-menu-1:before { content: '\e81b'; } /* '' */
.icon-cancel-1:before { content: '\e81c'; } /* '' */
.icon-arrow-long:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-search-1:before { content: '\e821'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
